<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{page.title}}"/>
  <meta property="og:description" content="{{page.description}}"/>
  <meta property="og:image" content="{{page.image}}"/>

  <link rel="stylesheet" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Roboto+Mono" rel="stylesheet">
  
  <title>{{page.title}}</title>
</head>
<body>
  <div id="top" class="container" role="document">
    {{content}}
  </div>
</body>
</html>