---
layout: default
---
<header>
  <nav class="nav" role="navigation">
    <a class="brand" href="#">Rusty Folk Lyric Index</a>
    <!-- <div class="nav-right">
        <a href="/#">About</a>
        <a href="/#">Songs</a>
        <a href="/#">Search</a>
    </div> -->
  </nav>
</header>
  <div class="row">
    <section id="sidebar" class="col-3">
      <h2>Songs</h2>
        <ul class="song-list">
          {% for post in site.posts %}
              <!-- <a href="{{ postitems[1] }}" target="song-current">{{ postitems[0] }}</a><br> -->
              <a href="{{post.url}}" id="{{ post.url }}" class="lyrics" target="song-current">{{ post.title }}</a><br>
          {% endfor %}
        </ul>
      </section>
    <section role="main" class="col-9">
      <div class="iframe-scroll-hide" style="overflow-x: hidden;">
        <iframe  name="song-current" src="{{site.posts[0].url}}" height="100%" width="110%" style="border:none;height:calc(100vh - 120px)"></iframe>
      </div>
    </section>
  </div>
  <script>
  var songs = document.getElementsByClassName('lyrics');
  window.onload = function() {
    var hash = window.location.hash;
    var h = hash.replace("#", "");
    if (!isNaN(h)) {
      songs[h].click()
    } 
  }
  for (let s = 0; s < songs.length; s++) {
    songs[s].addEventListener('click', function(e) {
      console.log(e.target.href)
      window.location.hash = s
    });
  }
  </script>