---
layout: default
---
<header>
    <nav class="nav" role="navigation">
      <a class="brand" href="#">Rusty Folk Lyric Index</a>

      <div class="nav-right">
          <a href="/#">About</a>
          <a href="/#">Songs</a>
          <a href="/#">Search</a>
      </div>
    </nav>

  </header>
  <div class="row">
      <div id="sidebar" class="col-2">
          <h2>Songs</h2>
            <ul class="song-list">
                {% capture posts %}
                {% for post in site.posts %}
                  |{{ post.title }}#{{ post.url }}
                {% endfor %}
              {% endcapture %}
              {% assign sortedposts = posts | split: '|' | sort %}
              {% for post in sortedposts %}
                  {% assign postitems = post | split: '#' %}
                  <a href="{{ postitems[1] }}" target="song-current">{{ postitems[0] }}</a><br>
              {% endfor %}
            </ul>
        </div>
      <main role="main" class="col-10">
  
        <section>
          <iframe  name="song-current" src="" height="100%" width="100%" style="border:none;height:calc(100vh - 120px)"></iframe>
        </section>
      </main>
  </div>